.hapak
{
    margin-left: 127px;
}
.nig
{
    .latest1
    {
        font-size: 11px;
        color: purple;
    }
    ol
    {
        font-size: 10px;
        padding-left: 7px;
    }
    .latest
    {
        font-size: 0.8em;
    }
}



.olulu
{
    span
    {
        // border: 1px solid red;
        border-radius:50%;
        background: #9B59B6;
        display: inline-block;
        color: white;
        min-width: 24px;
        text-align: center;
        line-height:26px;
    }
    a
    {
        font-size:12px;
// vertical-align: 12px;
        vertical-align: 8px;
margin-top: 20px;

    }

    a:hover span
    {
        margin-right: 5px;
    
        // width: 241px;
        
    }
    
}
.asaq
{

    p
    {
        font-size: 12px;
    }
 button  {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-left: 20px;
 }
}

.oho
{
    p
    {
        font-size: 12px;
        color: grey;
    }
    ol
    {
        font-size: 12px;
        
        a
        {
            text-decoration: none;

        }
    }
}

.heheaq
{

    z-index: 1111;
    bottom: 25px ; 
    left:0.2px;

}


.jq
{
    width: 15em;
    p
    {
        font-size: 12px;

    }
}

 .ala
 {
     width: 195px;
     height:60px
     
 }
 .ooa
 {
     margin-top: -40px !important;
 }
 .oho
 {
    width: 98.2% !important;
 }

.fixx
{   
z-index: 10000;
}

.fixx--hidden
{
    display: none !important;
    transform: translateY(calc(-1 * var(--nav-height)));
    background: red;
    z-index: 990000;
}
  